.content{
    margin-left: 40%;
    
}
.count{
    margin-left: 18%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 30px;
    color: blue;
}
.forms{
    display:flex;
    flex-direction: row;
}

