<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Счётчик</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style/style.css"/>
    </head>
    <body>
        <div class = img> 
            <a href="/auth/github"><img src="images/github-logo.png" width = 300 height = 300></a>
           <p><b><h2>Нажмите на картинку, <br> чтобы войти</h2></b></p> 
        </div>
       
    </body>
</html>